@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Quattrocento:400,700);

body {
	background-image: url("../images/volcano.jpg");
	background-size: cover;
	background-repeat:no-repeat;
	text-align: center;
	font-family: 'Quattrocento', serif;
}

h1 {
	font-family: 'Quattrocento Sans', sans-serif;
	color: #c31;
	font-size: 3em;
	font-weight: normal;
	text-transform: uppercase

 }

h3 {
	font-size: 1em;
	font-weight: bolder;
}

p {
	color: #FFFFFF;
}

a {
	color: #FFFFFF;
	text-weight: bold;
	text-decoration: none;
	font-style: italic	
 }

#link {
	color: #FFFFFF;
	font-style: italic	
 }

#slogan{
	color: #FFFFFF;
	font-family: 'Quattrocento', serif;
	font-style: italic;
	font-size: 2em;
	font-weight: normal	
}

hr{
	max-width: 30em; 
}

ul { 
    color: #FFFFFF;
    list-style-type: dot;
}

.element {
  position: relative;
  top: 50%;
  transform: translateY(-50%)
  background-color: blue;
}

#sidebar {
	float: right;
	padding: 1em;
	background-color: red;
}


#sidebar2 {
	float: left;
	padding: 1em;
	background-color: green;
}