*{
	box-sizing: border-box;
}
body {
	color:#222;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
}
#logo {
	float: left;
	width: 15%;
}

nav {
	background: #000000;
	float: right;
}

nav a {
	font-size: 1em;
	float: left;
	padding: .3em .9em;
	color: #ffffff;
	text-decoration: none;
	border-right: 1px solid #fff;
	transition: .2s ease-out;
}

nav a:hover {
	color: white;
	background-color: orange;
}

.keymessage {
	padding: .5em 0 .5em 0;
	font-size: 3.5em;
	text-align: center;
	font-family: 'Quattrocento', serif;
	line-height: 1.125;
}

.teasercontainer {
	margin: 0 0 4em 0;
}

#teaser>div {
	float: left;
	width: 33.3%;
	padding-left: 1%;
 }
#teaser img {
	display: block;
	margin-top: 0.5em;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
}
#teaser h2 {
	text-align: center;
	margin: 0.3em 0 0.2em 0;
	line-height: 1.3em;

}

#teaser p {
	text-align: none;
	margin: 0 0 1em 0;
	line-height: 1.3em;

}

section{
	margin-bottom: 5em;
}
footer {
	margin-top: 2em;
}
h2{
	font-size: 2em;
	font-family: 'Quattrocento', serif;
	line-height: 1.3em;
}
h3 {
	font-size: 1.3em;
	line-height: 1.3em;
}
a { 
}

a.teaserlink {
  	text-align: center;
  	text-decoration: none;
  	text-transform: uppercase;
  	letter-spacing: 0.1em;
  	color: #000000;
	transition: .2s ease-out;
	padding: .4em 3.5em;
  	border: 1.5px solid #2a2a2a;
  	display: inline-block;
  	display: block;
  	width: 50%;
  	margin: 1em auto 0 auto;
}

a.teaserlink:hover {
	color: white;
	background-color: orange;
}


#perfil img {
	display: inline;
	float: left;
	width: 66.66%;
}

#perfil h2 {
	float: left;
}

.quote {
	display: inline;
	float: none;
	width: 33.33%;
	font-size: 1.5em;
	line-height: 1.2em;
}

#perfil ul {
	width: 100%;
	float: none;
	line-height: 1.3em;
}

#cursos h2 {
	padding: 2em 0 0 0 ;
	line-height: 1.3em;
}

.cursos {
	float: left;
	width: 50%;
	padding: 1em 2em 1em 0;
}

.info h2 {
	float: left;
	padding: 0 0 0 .7em;
}

.bigpic {
	float: left;
	width: 66.66%;
}

blockquote {
	color: rgba(255,255,255,1);
	font-family: Georgia, serif;
	font-size: 1.2em;
	font-style: italic;
	line-height: 1.3em;
	padding: 1em 1em .3em 1em;
	position: relative;
	text-align:justify;
	float: left;
	width: 80%;
}

cite {
	color: rgba(255,255,255,.54);
	display: inline;
	float:right;
	font-size: 1.25em;
	font-weight:100;
	margin: 0em 1em 0em 0em;
}

.testimonialblock {
	float: none;
	width: 100%;
	padding: 0;
}

.testimonial {
	background-color: #B0B0B0;
	float: left;
	width: 100%;
}

.testimonialpic {
	border-radius: 50%;
	width: 20%;
	float: left;
	display: block;
	margin-bottom: 0.5em;
	padding: .5em;
}

.testimonialtext {
	float: left;
	width: 80%;
}

.container {
	margin: 0 auto;
	max-width: 1200px;
}
.callforcontact {
	text-align: center;
	font-size: 2em	
}

.socialmedia {
	text-align: center;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
