 #container {
	margin: 0 auto;
	max-width: 900px;
	width: 95%;
	background-color: #FFFFFF;
	font-family: 'Montserrat', sans-serif;
}

body {
	font-size: 16px;
	line-height: 1.2;
}

*{
	box-sizing: border-box;
}

.splash {
	height:100vh; /* viewport height is the measurement of the size of the display. if you make your window smaller on a desktop, you also decrease the viewport size. vh units are interpreted as a % of the viewport. 100vh = 100% of the viewport height. Avoid using vh values over 100. */
}

.header {
	position: fixed;
	background-color: #FFFFFF;
}

#logo {
	float: left;
	width: 15%;
}

nav {
	background: #000000;
	float: right;
}

nav a {
	font-size: 1em;
	float: right;
	padding: .3em;
	color: #ffffff;
	text-decoration: none;
	border-right: 1px solid #fff;
}

.keymessage {
	padding: .5em 0 .5em 0;
	font-size: 3.5em;
	text-align: center;
	font-family: 'Quattrocento', serif;
	line-height: 1.125;
}

.teasercontainer {
	margin: 0 0 4em 0;
}

.teaser {
	float: left;
	width: 33.3%;
	padding-left: 1%;
 }

.teaserpic {
	display: block;
	margin-top: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

h2{
	font-size: 2em;
	font-family: 'Quattrocento', serif;
}

.h2teaser{
	text-align: center;
	margin: 0.3em 0 0.2em 0;
}

.teaserinfo {
	text-align: center;
	margin: 0 0 1em 0;
}

.teaserlink {
  	text-align: center;
  	text-decoration: none;
  	text-transform: uppercase;
  	letter-spacing: 0.1em;
  	color: #000000;
  	padding: .4em 3.5em;
  	border: 1.5px solid #2a2a2a;
  	display: inline-block;
  	transition: .2s ease-out;
}

a.teaserlink:hover {
	color: white;
	background-color: orange;
}

section{
	margin-bottom: 5em;
}

#perfilcontainer {
	margin: 4em 0 0 0;
}

.perfilpic {
	float: left;
	width: 33.3%;
}

.quote {
	display: inline;
	float: right;
	width: 66.6%;
	font-size: 1.5em;
	padding: 0 1em 2em 1em;
}

.cv {
	padding: 0 1em 2em 1em;
}

.h2cyt {
	padding: 2em 0 0 0 ;
}

h3 {
	font-size: 1.3em;
}

.cursos {
	display: inline;
	float: left;
	width: 50%;
	padding: 1em 2em 1em 0;
}

span {
	text-decoration: italic;
}

.subs {
	display: block;
}

#privadas {

}

.bigpic {
	float: left;
	width: 33.3%;
}

.testimonialblock {
	float: left;
	width: 66.6%;
	padding: 0 1em 2em 1em;
}

.testimonial {
	background-color: #B0B0B0;
	float: left;
	width: 100%;
}

.testimonialpic {
	border-radius: 50%;
	width: 20%;
	float: left;
	display: block;
	margin-bottom: 0.5em;
	padding: .5em;
}

.testimonialtext {
	float: left;
	width: 80%;
}

footer {
	margin-top: 2em;
}

.callforcontact {
	text-align: center;
	font-size: 2em	
}

.socialmedia {
	text-align: center;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}