
@media only screen and (max-width: 881px) {
	#teaser div {
		float: none;
		width: auto;
		padding: 0 2em 0 2em;
	}

	#teaser p {
		margin: 0 auto;
		text-align: center;
		max-width: 60%;
	}
	
	.teaserpic {
		max-width: 20%;
		margin: 0;
	}

	.teaserblock {
		float: right;
	}
}


@media only screen and (max-width: 907px) {
	nav {
		display: block;
		float: none;
		text-align: center;
		margin: 0;
	}
}