/************** HAMBURGER MENU *****************/

@media only screen and (min-width:886px) and (max-width: 900px) {
	.mobile.nav {
		display: block;
		position: fixed; top: 0; left: 0; right: 0;
	}
	nav {
		display: none;
	}
}

/************** HAMBURGER MENU *****************/


@media only screen and (max-width: 885px) {
	.mobile.nav {
		display: block;
		position: fixed; top: 0; left: 0; right: 0;
	}
	nav {
		display: none;
	}
	#teaser div {
		float: none;
		width: auto;
		padding: 0 2em 0 2em;
	}

	#teaser p {
		margin: 0 auto;
		text-align: center;
		max-width: 60%;
	}
	
	.teaserpic {
		max-width: 20%;
		margin: 0;
	}

	.teaserblock {
		float: right;
	}

}
