
@media only screen and (min-width:852px) and (max-width: 900px) {
	.mobile-nav {
		display: block;
		position: fixed; top: 0; left: 0; right: 0;
	}
	nav {
		display: none;
	}
}


@media only screen and (min-width: 801px) and (max-width: 851px) {
	.mobile-nav {
		display: block;
		position: fixed; top: 0; left: 0; right: 0;
	}
	nav {
		display: none;
	}
	#teaser>div {
		min-height: 28em;
		position: relative;
	}
	#teaser p.title{
		text-align: center;
	}
	#teaser p.byline{
		position: absolute;
		top: 19em;
	}
	#teaser a.teaserlink {
		position: absolute;
		bottom: 0;	
		left: 25%;
		transform: translateX(-50%);
	}
}


@media only screen and (min-width: 601px) and (max-width: 800px) {
	.mobile-nav {
		display: block;
		position: fixed; top: 0; left: 0; right: 0;
	}
	nav {
		display: none;
	}

	#keymessage {
		padding: .5em .5em .5em .5em;
		font-size: 3em;
		line-height: 1.125;
	}
	h2{
		font-size: 2.5em;
	}
	#teaser>div {
		min-height: 27em;
		position: relative;
	}
	#teaser p.title{
		text-align: center;
	}
	#teaser p.byline{
		position: absolute;
		top: 18em;
	}
	#teaser a.teaserlink {
		position: absolute;
		bottom: 0;	
		left: 25%;
		transform: translateX(-50%);
	}
	.teaserpic {
		width: 75%;
	}
	.quote1	 {
		font-size: 1.3em;
		line-height: 1.2em;
		padding:  0 .5em .5em 1em;
	}
	#perfil ul {
		clear: both;
		float: none;
		display: block;
		list-style-type: disc;
		width: 100%;
		padding: 0 .5em 0 .5em;
	}
	#clases>div.quote {
		clear: both; 
		float: none;
		width: 100%;
		padding: 1em .5em 0 .5em;
	}
	div.cursos {
		padding: 0em .5em 0 .5em;
	}
	#privadas>div.quote {
		float: none;
		width: 100%;
		padding: 1em .5em 0 .5em;
	}
	#clases img {
		float: none;
		width: 100%;
		padding: 0 .5em 0 .5em;		
	}
	.sectionpic {
		float: none;
		width: 100%;
		padding: 0 .5em 0 .5em;
	}
	.quote2 {
		float: none;
		width: 100%;
		font-size: 1.3em;
		line-height: 1.2em;
		padding: 0 .5em 0 .5em;
	}
	blockquote {
		font-size: 1.2em;
	}
	cite {
		font-size: 1.1em;
	}
	.callforcontact {
		font-size: 1.1em;
		padding: 0 .5em 0 .5em;
	}	
}


@media only screen and (min-width: 481px) and (max-width: 600px) {
	.mobile-nav {
		display: block;
		position: fixed; top: 0; left: 0; right: 0;
	}
	nav {
		display: none;
	}
	#keymessage {
		padding: .5em .5em .5em .5em;
		font-size: 1.5em;
		line-height: 1.125;
	}
	h2{
		font-size: 1.8em;
	}
	.quote1	 {
		font-size: 1.2em;
		line-height: 1.1em;
		padding:  0 .5em .5em 1em;
	}
	#perfil ul {
		clear: both;
		float: none;
		display: block;
		list-style-type: disc;
		width: 100%;
		padding: 0 .5em 0 .5em;
	}
	#clases>div.quote {
		clear: both; 
		float: none;
		width: 100%;
		padding: 1em .5em 0 .5em;
	}
	div.cursos {
		padding: 0em .5em 0 .5em;
	}
	#privadas>div.quote {
		float: none;
		width: 100%;
		padding: 1em .5em 0 .5em;
	}
	#clases img {
		float: none;
		width: 100%;
		padding: 0 .5em 0 .5em;		
	}
	.sectionpic {
		float: none;
		width: 100%;
		padding: 0 .5em 0 .5em;
	}

	.quote2 {
		float: none;
		width: 100%;
		font-size: 1.2em;
		line-height: 1.1em;
		padding: 0 .5em 0 .5em;
	}
	blockquote {
		font-size: 1.2em;
	}
	cite {
		font-size: 1.1em;
	}
	.callforcontact {
		font-size: 1.1em;
		padding: 0 .5em 0 .5em;
	}	
	#teaser div {
		float: none;
		width: auto;
		padding: 0 2em 0 2em;
		min-height: 18.5em;
		position: relative;
	}
	#teaser img {
		margin-top: 2.7em;
	}
	#teaser p.title {
		font-size: 1.5em;
	}
	#teaser p {
		margin: 0 auto;
		text-align: center;
		max-width: 60%;
	}
	.teaserpic {
		max-width: 40%;
		margin: 0;
	}
	.teaserlink {
		font-size: 0.75em;
		padding: .4em .1em;

	}

	.testimonialpic {
		border-radius: 50%;
		width: 40%;
		float: none;
		display: block;
		margin: 1em auto 0 auto;
		padding: .5em;
	}

	.testimonial {
		float: left;
		width: 100%;
		padding: 1em 2em;
		margin: 1em 0 0 0;
	}


	blockquote {
		font-size: 1.2em;
		padding: 1em .5em .3em .5em;
		text-align: justify;
		float: none;
		width: 100%;
	}
	cite {
	color: #484848;
	display: block;
	float:right;
	font-size: 1em;
	font-weight: 100;
	margin: .5em .5em 0 0;
}

}

@media only screen and (min-width: 1px) and (max-width: 480px) {
	.mobile-nav {
		display: block;
		position: fixed; top: 0; left: 0; right: 0;
	}
	nav {
		display: none;
	}

	#keymessage {
		padding: .5em .5em .5em .5em;
		font-size: 1.6em;
		line-height: 1.2;
	}
	h2{
		font-size: 1.5em;
	}
	#perfil img {
		float: none;
		width: 65%;
		margin: 0 auto;
	}


	.quote1	 {
		float: none;
		width: 100%;
		font-size: 1.2em;
		line-height: 1.1em;
		padding:  1em .5em .5em .5em;
	}
	#perfil ul {
		clear: both;
		float: none;
		display: block;
		list-style-type: disc;
		width: 100%;
		padding: 0 .5em 0 .5em;
		margin: 4em 0 0 0 ;
	}
	#clases>div.quote {
		clear: both; 
		float: none;
		width: 100%;
		padding: 1em .5em 0 .5em;
	}
	div.cursos {
		width: 100%;
		padding: 0em .5em 0 .5em;
	}
	.cursos {
	margin: 2em 0 0 0;
	padding: 2em 0 0 0;
	min-height: 22em;
	position: relative;
	}
	#privadas>div.quote {
		float: none;
		width: 100%;
		padding: 1em .5em 0 .5em;
	}
	#clases img {
		float: none;
		width: 100%;
		padding: 0 .5em 0 .5em;		
	}
	.sectionpic {
		float: none;
		width: 100%;
		padding: 0 .5em 0 .5em;
	}

	.quote2 {
		float: none;
		width: 100%;
		font-size: 1.2em;
		line-height: 1.1em;
		padding:  1em .5em .5em .5em;
	}


/********* **********/



/********* **********/

	.testimonialpic {
		border-radius: 50%;
		width: 50%;
		float: none;
		display: block;
		margin: 1em auto 0 auto;
		padding: .5em;
	}

	.testimonial {
		float: left;
		width: 100%;
		padding: 1em 2em;
		margin: 1em 0 0 0;
	}


	blockquote {
		font-size: 1.2em;
		padding: 1em .5em .3em .5em;
		text-align: justify;
		float: none;
		width: 100%;
	}
	cite {
		color: #484848;
		display: block;
		float:right;
		font-size: 1em;
		font-weight: 100;
		margin: .5em .5em 0 0;
	}
	.callforcontact {
		font-size: 1.1em;
		padding: 0 .5em 0 .5em;
	}	
	#teaser div {
		float: none;
		width: auto;
		padding: 0 2em 0 2em;
		min-height: 18.5em;
		position: relative;
	}
	#teaser img {
		margin-top: 2.7em;
	}
	#teaser p.title {
		font-size: 1.5em;
	}
	#teaser p {
		margin: 0 auto;
		text-align: center;
		max-width: 60%;
	}
	.teaserpic {
		width: 35%;
		margin: 0;
	}
	.teaserlink {
		font-size: 0.75em;
		padding: .4em .1em;
	}

	.teaserlink {
	  	color: white;
  		background-color: orange;
		transition: none;
	}
}

